{% extends "@DH_EspT/Default/base.html.twig" %}

{% block page_title 'Elternsprechtag' %}

{% block content %}

    <div class="jumbotron">
        <p class="text-center">Der nächste Elternsprechtag findet statt am {{ startTime|ldate }} von {{ startTime|ltime }} - {{ endTime|ltime }}</p>
        <p class="text-center">Registrierung ist möglich von {{ regStart|ldatetime }} - {{ regEnd|ldatetime }}</p>
    </div>


{% endblock %}