{% extends "@DH_EspT/Default/base.html.twig" %}

{% block page_title 'Elternsprechtag' %}

{% block content %}

    <div id="schedule1"></div>
    <div id="schedule2"></div>

{% endblock %}

{% block stylesheets %}

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => jquery-ui.css -->
    {% endif %}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css', 'dh-espt') }}">

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => jquery-ui.structure.css -->
    {% endif %}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.css', 'dh-espt') }}">

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => jquery-ui.theme.css -->
    {% endif %}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.css', 'dh-espt') }}">

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => jq.schedule.css -->
    {% endif %}
    <link rel="stylesheet" href="{{ asset('css/jq.schedule.css', 'dh-espt') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => vue-scheduler-lite.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/scheduler.js', 'dh-espt') }}"></script>

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => jquery-ui.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/jquery-ui.js', 'dh-espt') }}"></script>

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => jq.schedule.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/jq.schedule.js', 'dh-espt') }}"></script>

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => schedule.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/schedule.js', 'dh-espt') }}"></script>

{% endblock %}
