{% extends "@DH_EspT/Default/base.html.twig" %}

{% block page_title 'Elternsprechtag' %}

{% block content %}

    {% if state is constant('DigiHelfer\\EspTBundle\\\Entity\\State::NONE') %}
        <p>Kein Sprechtag geplannt</p>
    {% elseif state is constant('DigiHelfer\\EspTBundle\\\Entity\\State::REGISTRATION') %}

        <div id="espt-schedules">

        </div>

    {% elseif state is constant('DigiHelfer\\EspTBundle\\\Entity\\State::INVITE') %}

        <p>Der nächste Sprechtag ist am {{ date }} von {{ startTime }} - {{ endTime }}</p>
        <p>Hier können Sie sich bis zum {{ regEnd }}  ihren Termin reservieren</p>

    {% elseif state is constant('DigiHelfer\\EspTBundle\\\Entity\\State::PRINT') %}

    {% endif %}



{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => schedule.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/schedule.js', 'espt') }}"></script>

{% endblock %}
